/********************* Start Navbar section *********************/
.navbar-m {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 30;
  transition: $main-transition;

  @include devices(lg){
    padding: 10px 0 !important;
  }

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .side-open {
      cursor: pointer;
      display: none;

      @include devices(lg){
        display: flex;
      }
    }

    .logo {
      width: 200px;
      height: 26px;
      margin: auto;
    }

    .left-sec {
      display: flex;
      align-items: center;
      gap: 20px;

      .not_link {
        position: relative;

        .ic {
          font-size: 19px;
          color: $light;
          &::before {
            font-size: 19px;
          }
        }

        .count {
          position: absolute;
          top: -6px;
          @include dir-left(-6px);
          @include circle(12px);
          @include center;
          font-size: 12px;
          color: $white;
          background-color: $sec;
          padding: 4px;
          border: 3px solid $white;
        }

        &.side-open {
          cursor: pointer;
          display: none;
    
          @include devices(lg){
            display: flex;
          }
        }
      }
    }
  }
}

.nav_style {
  padding: 9px 0;
  box-shadow: $main-shadow;
  border-bottom: 1px solid $light2;
}

.nav-overlay {
  @include devices(lg){
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 333;
    background-color: rgba($color: #000000, $alpha: .5);
    transition: 0.7s;
    @include dir-right(0);
    @include translate(100%);
  
    &.active {
      transform: translateX(0) !important;
    }
  }
}

/********************* End links_box *********************/
